.box {
  margin: 40px auto;
  width: 100px;
  height: 100px;
  background: blue;
  /* 반응 속도 조절 */
  /* 보통 0.5s 를 많이 사용함. (0.5초) */
  transition: 0.5s;
}

.box:hover {
  /* 배경 색 변경 */
  background: purple;
  /* 크기 증가 */
  transform: scale(1.5);
  /* 음영 효과 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
