<div class="footer">
  <p class="footer_title">Contact</p>
  <div class="footer_content_wrap_row">
    <div class="footer_content">
      <img src="/images/icon/icon_phone.png" alt="" />
      <p>+82 10 5618 4610</p>
    </div>
    <div class="footer_content">
      <img src="/images/icon/icon_mail.png" alt="" />
      <p>itsjh1242@gmail.com</p>
    </div>
    <div class="footer_content">
      <img src="/images/icon/icon_github.png" alt="" />
      <p>github.com/itsjh1242</p>
    </div>
  </div>
</div>
