<!DOCTYPE html>
<html>
  <head>
    <title>Simple Design Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/themeChange.js"></script>
    <script src="/javascripts/imageslide.js"></script>
  </head>
  <body>
    <% include ./content/menuPagetop.ejs %>
    <div class="activities_content">
      <% ActivitiesPage.Activities.forEach(function(e, i) { %>
      <div class="activities_component">
        <p><%= e.ActivityName %></p>
        <p><%= e.ActivityDescription %></p>
        <div class="SlideFrame">
          <button class="BtnSlidePrev" onclick="SlideCountMinus(); OnClickAni();"><</button>
          <img src="" alt="" class="SlidePrev" />
          <img src="" alt="" class="SlideCenter" />
          <img src="" alt="" class="SlideNext" />
          <button class="BtnSlideNext" onclick="SlideCountPlus(); OnClickAni();">></button>
        </div>
      </div>
      <% }) %>
    </div>
    <% include ./content/footer.ejs %>
  </body>
  <script>
    var SlideCount = 0;
    var awardImageSrc = SkillsPage.Awards[0].AwardImage;
    var prevImg = document.querySelector(".SlidePrev");
    var centerImg = document.querySelector(".SlideCenter");
    var nextImg = document.querySelector(".SlideNext");
    var BtnSlideNext = document.querySelector(".BtnSlideNext");
    var BtnSlidePrev = document.querySelector(".BtnSlidePrev");

    centerImg.addEventListener("mouseover", function () {
      centerImg.animate(
        {
          transform: ["scale(1.3)"],
        },
        {
          duration: 500, // 밀리초 지정
          fill: "forwards", // 종료 시 속성을 지님
          easing: "ease", // 가속도 종류
        }
      );
    });
    centerImg.addEventListener("mouseout", function () {
      centerImg.animate(
        {
          transform: ["scale(1)"],
        },
        {
          duration: 500, // 밀리초 지정
          fill: "forwards", // 종료 시 속성을 지님
          easing: "ease", // 가속도 종류
        }
      );
    });

    function updateImages() {
      prevImg.src = awardImageSrc[(SlideCount - 1 + awardImageSrc.length) % awardImageSrc.length];
      centerImg.src = awardImageSrc[SlideCount % awardImageSrc.length];
      nextImg.src = awardImageSrc[(SlideCount + 1) % awardImageSrc.length];
    }

    window.onload = function () {
      updateImages();
    };

    function SlideCountPlus() {
      SlideCount++;
      updateImages();
    }

    function SlideCountMinus() {
      SlideCount--;
      if (SlideCount < 0) {
        SlideCount = awardImageSrc.length - 1;
      }
      updateImages();
    }

    function OnClickAni() {
      centerImg.className = "SkillsFadeIn";
      BtnSlideNext.disabled = true;
      BtnSlidePrev.disabled = true;
      setTimeout(function () {
        centerImg.className = "";
        BtnSlideNext.disabled = false;
        BtnSlidePrev.disabled = false;
      }, 1500);
    }
  </script>
</html>
