<!DOCTYPE html>
<html>
  <head>
    <title>Simple Design Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="/javascripts/Strings.js"></script>
    <script src="/javascripts/themeChange.js"></script>
  </head>
  <body>
    <% include ./content/menuPagetop.ejs %> <% ExperiencePage.experience.forEach(function(element, index) { %>
    <div class="experience_content">
      <div class="content_top">
        <p class="experience_title"><%= element.experience_title %></p>
        <p class="experience_period"><%= element.experience_period %></p>
      </div>
      <p class="partition">Responsibilities/Achievements</p>
      <ul>
        <% element.experience_content.forEach(function(e, i){ %>
        <li><%= e %></li>
        <% }) %>
      </ul>
    </div>
    <% }) %> <% include ./content/footer.ejs %>
  </body>
</html>
