/* Fonts */
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.woff2") format("woff2");
}

/* Settings Integration */
:root {
  /* Padding */
  --padding-top-bottom-20: 20px 0 20px 0;
  --padding-top-20: 20px 0 0 0;
  /* Margin */
  --margin-small: 10px;
  --margin-small2: 20px;
  --margin-content: 40px;
  --margin-right-20: 20px;
  --margin-right-60: 60px;
  --margin-bottom-24: 24px;
  --margin-bottom-60: 60px;
  /* Border */
  --border-top-light-gray-full: 1px solid #d3d3d3;
  --border-bottom-light-gray: 1px solid #d3d3d3;
  --border-top-bottom-light-gray: 1px solid #d3d3d3;
  /* Color */
  --color-gray: #d3d3d3;
  /* Font-Size */
  --font-size-16: 16px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-50: 50px;
  --font-size-60: 60px;
  --font-size-72: 72px;
  /* Font */
  --font-black: "Montserrat-Black";
  --font-bold: "Montserrat-Bold";
  --font-extrabold: "Montserrat-ExtraBold";
  --font-extralight: "Montserrat-ExtraLight";
  --font-light: "Montserrat-Light";
  --font-medium: "Montserrat-Medium";
  --font-regular: "Montserrat-Regular";
  --font-semibold: "Montserrat-SemiBold";
  --font-thin: "Montserrat-Thin";
}

/* Theme */
.theme-light {
  --color-primary: #ffffff;
  /* --font-color-primary: #000000;
  --font-color-secondary: #d3d3d3; */
  --font-color-primary: #000000;
  --font-color-secondary: #d3d3d3;
}
.theme-dark {
  --color-primary: #000000;
  --font-color-primary: #ffffff;
  --font-color-secondary: #d3d3d3;
}

/* Animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SkillsFadeIn {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

/* Slide Effects CSS */
.SlideFrame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 300px;
}
.SlideFrame button {
  font-size: 50px;
  font-family: var(--font-extralight);
  color: var(--font-color-primary);
  border: none;
  background: none;
  cursor: pointer;
}

.SlideFrame .SlideCenter {
  width: 600px;
  height: fit-content;
  z-index: 1000;
}

.SlideFrame .SlidePrev {
  width: 300px;
  height: fit-content;
  z-index: -1;
  opacity: 0.5;
  transform: translateX(20%);
}

.SlideFrame .SlideNext {
  width: 300px;
  height: fit-content;
  z-index: -1;
  opacity: 0.5;
  transform: translateX(-20%);
}

/* Body */
body {
  /* Root Padding All pages */
  padding-top: 100px;
  /* padding-left: 240px;
  padding-right: 240px; */
  padding-bottom: 40px;
  /* Theme */
  background: var(--color-primary);
  color: var(--font-color-primary);
}

a {
  text-decoration: none;
  color: var(--font-color-primary);
}

p {
  margin: 0;
  padding: 0;
}

/* themeToggle.html */
.themeToggle {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Menu Page Top */
.menu_page_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 16px;
  border-bottom: var(--border-bottom-light-gray);
  margin-bottom: var(--margin-bottom-60);
}
.menu_page_top .menu_page_title {
  padding-right: 240px;
  font-family: var(--font-bold);
  font-size: var(--font-size-72);
  color: var(--font-color-primary);
}
.menu_page_top .menu_page_subtitle {
  padding-left: 240px;
  font-family: var(--font-light);
  font-size: var(--font-size-36);
  color: var(--font-color-primary);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  padding: var(--padding-top-20);
  gap: var(--margin-small2);
  border-top: var(--border-bottom-light-gray);
  margin-top: 40px;
  padding-right: 240px;
  padding-left: 240px;
}
.footer .footer_title {
  font-family: var(--font-bold);
  font-size: var(--font-size-50);
  color: var(--font-color-primary);
}
.footer .footer_content_wrap_row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.footer .footer_content_wrap_row .footer_content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.footer .footer_content_wrap_row .footer_content p {
  font-family: var(--font-light);
  font-size: var(--font-size-16);
  color: var(--font-color-primary);
}

/* Index.html */
.index-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 70px;
}
/* Index Page - Profile */
.index-frame .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--margin-content);
}
.index-frame .profile .profile_banner {
  font-family: var(--font-regular);
  font-size: var(--font-size-24);
}
.index-frame .profile .profile_wrap_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.index-frame .profile .profile_wrap_col .profile_title {
  font-family: var(--font-medium);
  font-size: var(--font-size-60);
}
.index-frame .profile .profile_image_layout_wrap_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.index-frame .profile .profile_image_layout_wrap_row .profile_image_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 44px 0px 3px;
  border-radius: 150px;
  border: 3px solid #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 0, 0, 0.7) 100%);
  overflow: hidden;
  transition: 0.9s;
  
}

.index-frame .profile .profile_image_layout_wrap_row .profile_image_layout.move {
  transform: translateX(-80%);
  transition: 2s;
}
.index-frame .profile .profile_image_layout_wrap_row .profile_image_layout .slideBtn {
  display: none;
}
.index-frame .profile .profile_image_layout_wrap_row .profile_image_layout img {
  object-fit: cover;
  cursor: pointer;
}
.index-frame .profile .profile_image_layout_wrap_row .profile_image_slide_wrap_row {
  display: none;
  position: absolute;
}
.index-frame .profile .profile_image_layout_wrap_row .profile_image_slide_wrap_row.move {
  transform: translateX(40%);
  display: block;
  /* visibility: visible; */
  animation: fadein 5s;
}
.index-frame .profile .profile_image_layout_wrap_row .profile_image_slide_wrap_row p {
  font-family: var(--font-light);
  font-size: var(--font-size-24);
  color: var(--font-color-primary);
}
.index-frame .profile .profile_bottom_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 240px;
  margin-right: 240px;
  gap: var(--margin-right-60);
}
.index-frame .profile .profile_bottom_row .left_text {
  font-family: var(--font-medium);
  font-size: var(--font-size-36);
}
.index-frame .profile .profile_bottom_row .right_text {
  font-family: var(--font-light);
  font-size: var(--font-size-24);
}
/* Index Page - Menu */
.index-frame .menu_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 240px;
  margin-right: 240px;
  gap: var(--margin-content);
}
.index-frame .menu_ .menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: var(--padding-top-bottom-20);
  gap: var(--margin-small);
  width: 100%;
  border-bottom: var(--border-bottom-light-gray);
  transition: 0.3s;
}
.index-frame .menu_ .menu_item:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.index-frame .menu_ .menu_item:hover .menu_title {
  color: var(--font-color-primary);
}
.index-frame .menu_ .menu_item:hover .menu_readmore {
  opacity: 1;
}
.index-frame .menu_ .menu_item .menu_title {
  font-family: var(--font-bold);
  font-size: var(--font-size-50);
  color: var(--color-gray);
  transition: 0.3s;
}
.index-frame .menu_ .menu_item .menu_content {
  font-family: var(--font-light);
  font-size: var(--font-size-24);
  color: var(--color-gray);
}
.index-frame .menu_ .menu_item .menu_readmore {
  opacity: 0;
  font-family: var(--font-bold);
  font-size: var(--font-size-24);
  transition: 0.3s;
}

/* Experience Page */
.experience_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--margin-small2);
  padding: var(--padding-top-bottom-20);
  margin-right: 240px;
  margin-left: 240px;
  margin-bottom: var(--margin-bottom-60);
  border-top: var(--border-top-bottom-light-gray);
  border-bottom: var(--border-top-bottom-light-gray);
}
.experience_content .content_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.experience_content .content_top .experience_title {
  font-family: var(--font-bold);
  font-size: var(--font-size-50);
  width: 1100px;
  color: var(--font-color-primary);
}
.experience_content .content_top .experience_period {
  font-family: var(--font-medium);
  font-size: var(--font-size-24);
  color: var(--font-color-primary);
}
.experience_content .partition {
  font-family: var(--font-semibold);
  font-size: var(--font-size-24);
  color: var(--font-color-primary);
}
.experience_content ul li {
  font-family: var(--font-light);
  font-size: var(--font-size-24);
  color: var(--font-color-primary);
  list-style-type: disc;
}

/* Works Page */
.works_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: var(--padding-top-bottom-20);
  margin-right: 240px;
  margin-left: 240px;
  margin-bottom: var(--margin-bottom-60);
  gap: var(--margin-small);
  border-top: var(--border-top-bottom-light-gray);
  border-bottom: var(--border-top-bottom-light-gray);
}
.works_content .works_content_title {
  font-family: var(--font-bold);
  font-size: var(--font-size-50);
  color: var(--font-color-primary);
}
.works_content .works_content_skills {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--margin-right-20);
}
.works_content .works_content_skills img {
  width: 30px;
  height: 30px;
}
.works_content .works_content_role {
  font-family: var(--font-light);
  font-size: var(--font-size-24);
  color: var(--font-color-primary);
  margin-top: var(--margin-small);
} 

.works_content .works_content_description {
  font-family: var(--font-light);
  font-size: var(--font-size-24);
  color: var(--font-color-primary);
  margin-top: var(--margin-small);
}

/* Skills & Certificates Page */
/* .skiils_content {
  display: flex;
  flex-direction: column;
} */

.skiils_content {
  display: flex;
  flex-direction: column;
  padding: var(--padding-top-bottom-20);
  margin-left: 240px;
  margin-right: 240px;
}

.skiils_title {
  display: flex;
  justify-content: flex-end;
  font-family: var(--font-extrabold);
  font-size: var(--font-size-50);
  color: var(--font-color-primary);
  margin-bottom: var(--margin-bottom-24);
}
.skiils_component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--font-regular);
  font-size: var(--font-size-36);
  color: var(--font-color-primary);
  margin-bottom: var(--margin-bottom-60);
}

.award .skiils_component .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.award .skiils_component .top .left {
  display: flex;
  flex-direction: column;
  font-family: var(--font-regular);
  font-size: var(--font-size-32);
}

.award .skiils_component .top .left p:first-child {
  font-family: var(--font-bold);
  font-size: var(--font-size-36);
}

.award .skiils_component .top .right {
  display: flex;
  align-items: flex-end;
}

.award .skiils_component .mid {
  font-family: var(--font-extralight);
  font-size: var(--font-size-24);
  margin-top: var(--margin-bottom-24);
}

.award .skiils_component .mid p:first-child {
  font-family: var(--font-bold);
  font-size: var(--font-size-36);
}

.award .skiils_component .bottom {
  margin-top: var(--margin-bottom-24);
}

/* Activities Page */
.activities_content {
  display: flex;
  flex-direction: column;
  padding: var(--padding-top-bottom-20);
  margin-left: 240px;
  margin-right: 240px;
}

.activities_content .activities_component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--font-color-primary);
  padding: var(--padding-top-bottom-20);
  border-top: var(--border-top-bottom-light-gray);
  border-bottom: var(--border-top-bottom-light-gray);
  margin-bottom: var(--margin-bottom-24);
}

.activities_content .activities_component p:first-child {
  font-family: var(--font-bold);
  font-size: var(--font-size-50);
  margin-bottom: var(--margin-bottom-24);
}

.activities_content .activities_component p {
  font-family: var(--font-extralight);
  font-size: var(--font-size-24);
}
